@charset "UTF-8";

header {
    background-image: linear-gradient(to right, grey, red);
    padding: 20px;
    max-width: 800px;
    text-align: center;
}

nav{
    background-color: aqua;
    
}
main{
    background-color: rgb(189, 104, 104);
    
    text-align: center;
}
body{
    margin: auto;
    max-width: 800px;
    background-color: grey;
}
footer{
    text-align: center;
}
