@charset "UTF-8";



@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Roboto:ital,wght@0,100;1,100;1,300&display=swap');

@import url(Sriracha-Regular.ttf);

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;

}

 *{
    margin: 0px;
    padding: 0px;
    
 }

 html, body {
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte1);
    background-image: url(pngtree-atmospheric-explosion-annual-meeting-banner-background-backgroundannual-meeting-backgroundredgoldfestivebackgroundnew-image_72044.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    background-attachment: fixed;

 }

 header{
    background-color: black;
    color: white;
    text-align: center;
    
    
 }

 header > h1{
    padding-top: 50px;
    font-family: var(--fonte2);
    font-size: 4em;
 }
 header > p{
    padding-bottom: 50px;
 }

 header a, footer a{
    color:white;
    text-decoration: none;
    font-weight: bolder;
 }


 header a:hover, footer a:hover{
    text-decoration: none;

 }

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 1.2em;
}

 section.normal{
    
    background-image: url(kisspng-carpe-diem-wedding-photography-photographer-photog-photography2-1611-free-photography-logos-gra-5c026913506687.5847495215436618433293.png);
    background-repeat: no-repeat;
    background-position: center center;
    
    
    
 }




 footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
 }